<div class="legend">
    <div class="legend__item">
        <h4 class="legend__item-title">Máscara</h4>
        <div class="legend__item-img-container">
            <div class="legend__item-images">
                <img src="/assets/images/png/required-mask.png" class="legend__item-img">
                <span class="legend__item-legend">Obrigatório</span>
            </div>
            <div class="legend__item-images">
                <img src="/assets/images/png/recommended-mask.png" class="legend__item-img">
                <span class="legend__item-legend">Recomendado</span>
            </div>
        </div>
    </div>
    <div class="legend__item">
        <h4 class="legend__item-title">Toalha</h4>
        <div class="legend__item-img-container">
            <div class="legend__item-images">
                <img src="/assets/images/png/required-towel.png" class="legend__item-img">
                <span class="legend__item-legend">Obrigatório</span>
            </div>
            <div class="legend__item-images">
                <img src="/assets/images/png/recommended-towel.png" class="legend__item-img">
                <span class="legend__item-legend">Recomendado</span>
            </div>
        </div>
    </div>
    <div class="legend__item">
        <h4 class="legend__item-title">Bebedouro</h4>
        <div class="legend__item-img-container">
            <div class="legend__item-images">
                <img src="/assets/images/png/partial-fountain.png" class="legend__item-img">
                <span class="legend__item-legend">Parcial</span>
            </div>
            <div class="legend__item-images">
                <img src="/assets/images/png/not_allowed-fountain.png" class="legend__item-img">
                <span class="legend__item-legend">Proibido</span>
            </div>
        </div>
    </div>
    <div class="legend__item">
        <h4 class="legend__item-title">Vestiário</h4>
        <div class="legend__item-img-container">
            <div class="legend__item-images">
                <img src="/assets/images/png/allowed-lockerroom.png" class="legend__item-img">
                <span class="legend__item-legend">Liberado</span>
            </div>
            <div class="legend__item-images">
                <img src="/assets/images/png/partial-lockerroom.png" class="legend__item-img">
                <span class="legend__item-legend">Parcial</span>
            </div>
            <div class="legend__item-images">
                <img src="/assets/images/png/closed-lockerroom.png" class="legend__item-img">
                <span class="legend__item-legend">Fechado</span>
            </div>
        </div>
    </div>
</div>