<form class="form__group" [formGroup]="formGroup">
    <div class="form__icon">
        <img src="/assets/images/png/icon-hour.png" alt="Icone de relogio">
        Horário
    </div>
    <h3>Qual período quer treinar?</h3>
    <div class="radio-wrapper">
        <input type="radio" name="hour" value="morning" id="morning" formControlName="hour">
        <label for="morning">Manhã</label>
        <span>06:00h ás 12:00h</span>
    </div>
    <div class="radio-wrapper">
        <input type="radio" name="hour" value="afternoon" id="afternoon" formControlName="hour">
        <label for="afternoon">Tarde</label>
        <span>12:01h ás 18:00h</span>
    </div>
    <div class="radio-wrapper">
        <input type="radio" name="hour" value="night" id="night" formControlName="hour">
        <label for="night">Noite</label>
        <span>18:01h ás 23:00h</span>
    </div>
    <div class="checkbox-wrapper">
        <div class="checkbox">
            <input type="checkbox" name="show-closed" id="show-closed" formControlName="showClosed">
            <label for="show-closed">Exibir unidades fechadas</label>
        </div>
        <span>Resultados encontrados: {{ filteredResults.length }}</span>
    </div>
    <div class="btn-wrapper">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Encontrar unidade</button>
        <button type="button" class="btn btn-secondary" (click)="onClean()">Limpar</button>
    </div>

</form>